<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Console for <%= ServiceName %></title>
    <style>
        body {
            font-family: 'Courier New', Courier, monospace;
            background-color: #333;
            color: #eee;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .code-box {
            background-color: #222;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            width: 80%;
            max-width: 800px;
            overflow: auto;
            white-space: pre-wrap;
            max-height: fit-content;
        }
    </style>
</head>

<body>
    <div class="code-box">
        <%=content%>
    </div>
</body>

</html>